@media screen and (max-width: 991px){
  .sidebar-collapse .navbar-collapse:before {
    background: $warning-color;
    background: linear-gradient($white-color,$black-color 50%);
  }
  .navbar-nav .dropdown-menu {
    position: static !important;
  }
}

@media screen and (max-width: 768px){
  .nav-tabs {
    padding-left: 10px;
    padding-right: 10px;
  }
}
